.App {
  text-align: center;
  height: 100vh;
  margin: 0;

}

.App-header {
  background-color: #373a40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #eeeeee;
}

footer {
  background-color: #373a40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #eeeeee;
  bottom: 0;

}
